body {
  font-family: 'Courier New', monospace;
  background: url('https://i.imgur.com/0M4U2Gp.png') repeat; /* صورة بلوكات ديرت */
  background-size: 100px 100px;
  text-align: center;
  padding-top: 150px;
  cursor: url('https://i.imgur.com/Xd9lU3y.png'), auto; /* أيقونة بلوك ديرت */
  color: #1f2d2b;
}

.container h1 {
  font-size: 36px;
  color: #ffffff;
  text-shadow: 2px 2px #2b7a6d;
}

input[type="text"] {
  width: 400px;
  padding: 15px;
  font-size: 18px;
  border: 3px solid #7b5e2f;
  border-radius: 5px;
  background-color: #c2b280; /* لون يشبه بلوك تربة */
  color: #1f2d2b;
  box-shadow: 3px 3px #7b5e2f;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: 0 0 10px #2b7a6d;
}

button {
  padding: 15px 30px;
  font-size: 18px;
  background-color: #2b7a6d;
  color: white;
  border: 3px solid #1f5c50;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 3px 3px #1f5c50;
  margin-left: 10px;
}

button:hover {
  background-color: #1f5c50;
  box-shadow: 1px 1px #2b7a6d;
}
